.newExpenseContainer {
    display: flex;
   
}

.datePicker{
    padding: 0.5rem;
    font-size: 16px;
    border: 1px solid var(--color-primary); /* Muted Teal */
    border-radius: 5px;
    background-color: var(--color-background); 
    color: var(--color-light-gray);
}

.datePicker:focus{
    border-color: var(--color-gold);
    outline: none;
}

/* calendar */

.customCalendar {
    border-radius: 10px;
    box-shadow: var(--shadow);
    font-family: var(--font-family);
}



